body {
  font-family: helvetica;
  margin: 0;
  overflow: hidden;
}

.toolbar {
  background-color: #5298DE;
  position: absolute;
  top: 0;
  height: 70px;
  left: 0;
  right: 0;
}
.toolbar .button {
  background-color: #fafafa;
  display: inline-block;
  width: 200px;
  font-size: 24px;
  color: #444444;
  text-decoration: none;
  text-align: center;
  border: 2px solid #444444;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  padding-top: 8px;
  margin: 10px;
}

.dz-preview {
  display: none;
}

.keys {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  list-style-type: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.keys li {
  border-top: 1px solid #444444;
  position: relative;
}
.keys li:last-child {
  border-bottom: 1px solid #444444;
}
.keys li .key {
  position: relative;
  z-index: 1;
  height: 20px;
  display: inline-block;
  border-right: 1px solid #444444;
  border-left: 1px solid #444444;
  width: 60px;
  text-align: right;
  padding: 2px;
  background-color: #fafafa;
  color: #444444;
}
.keys li .key.active {
  background-color: #5298DE;
}
.keys li .key.sharp {
  background-color: #444444;
  color: #fafafa;
}
.keys li .notes {
  display: inline-block;
  position: absolute;
}
.keys li .notes .note {
  position: absolute;
  background-color: #5298DE;
  height: 20px;
  margin-top: 2px;
  border-radius: 3px;
}
